@model WebMVC.Models.DETAIL
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<div>
    <h4>DETAIL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.time_start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.time_start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.time_stop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.time_stop)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.minute_7hto23h)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.minute_7hto23h)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.minute_23hto7h)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.minute_23hto7h)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SIM.id_cus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SIM.id_cus)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
